<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fdl.mangaz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>"
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <meta-data android:name="android.support.UI_OPTIONS"
              android:value="splitActionBarWhenNarrow" />
        <activity
            android:name="com.fdl.mangaz.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fdl.mangaz.DownloadActivity"
            android:parentActivityName ="com.fdl.mangaz.MainActivity">
        </activity>
        <activity
            android:name="com.fdl.mangaz.mangareaderlist.MangaReaderListActivity"
            android:parentActivityName ="com.fdl.mangaz.MainActivity">
        </activity>
        <activity
            android:name="com.fdl.mangaz.SettingsActivity"
            android:parentActivityName ="com.fdl.mangaz.MainActivity">
        </activity>
        <activity
            android:name="com.fdl.mangaz.MangaDescriptionActivity"
            android:parentActivityName ="com.fdl.mangaz.mangareaderlist.MangaReaderListActivity">
        </activity>
        <activity
           android:name="com.fdl.mangaz.chapterview.ChapterViewActivity"
           android:parentActivityName ="com.fdl.mangaz.MainActivity">
        </activity>
        <activity
           android:name="com.fdl.mangaz.chapterslider.ChapterSliderActivity"
           android:parentActivityName ="com.fdl.mangaz.chapterview.ChapterViewActivity"
           android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>
